@media (max-width: 860px){
    .home{
        margin: 0;
        padding-top: 0;
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        position: relative;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url(../../images/background.jpg) repeat-x center;
        height: 1200px;
        transform: scaleX(-1);
        > * {
            padding-left: 5%;
        transform: scaleX(-1);
        }
    }
}

@media (min-width: 860px){
    .home {
        margin: 0;
        padding-top: 0;
        padding-left: 10%;
        padding-right: 10%;
        position: relative;
        height: 100vh;
        background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ),
        url(../../images/background.jpg) repeat-x center;
        background-size: cover;
        transform: scaleX(-1);
        > * {
            transform: scaleX(-1);
        }
    }
}